<!-- DETTAGLIO FATTURE -->

<section>

  <h1>Modifica stato della fattura </h1>


  <div class="section">

  <form #form="ngForm" (ngSubmit)="salva(form)">

        <div class="card-body">
          <h5 class="card-title">{{ cliente.ragioneSociale }}</h5>
          <h5 class="card-subtitle mb-2 text-white"> {{ cliente.nomeContatto }} {{ cliente.cognomeContatto }} </h5>
          <p class="card-text">Importo: {{ fattura.importo }}€</p>
          <p class="card-text">Stato Fattura:
            <select name="stato" id="stato" ngModel>
              <option value=""></option>
              <option value="2">Pagata</option>
              <option value="1">Non pagata</option>
            </select>
          </p>
          <p class="card-text">ID: {{ fattura.id }}</p>
          <p class="card-text">Data : {{ fattura.data | date }}</p>

          <div class="d-flex mt-5 justify-content-evenly">
            <button type="submit" class="btn btn-success">Salva</button>
            <button class="btn btn-danger" (click)="elimina(fattura.id)">Elimina</button>
          </div>
        </div>

    </form>


  </div>

</section>
















