<!-- LISTA FATTURE -->
<section>

  <h1>Lista delle fatture</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Data</th>
        <th scope="col">Numero</th>
        <th scope="col">Anno</th>
        <th scope="col">Importo</th>
        <th scope="col">Stato</th>
        <th scope="col">Cliente</th>
      </tr>
    </thead>

    <tbody *ngFor="let fattura of fatture; let i = index">
      <tr>
        <th scope="row">{{ fattura.id }}</th>
        <td>{{ fattura.data | date }}</td>
        <td>{{ fattura.numero }}</td>
        <td>{{ fattura.anno }}</td>
        <td>{{ fattura.importo }}€</td>
        <td>{{ fattura.stato.nome }}</td>
        <td>{{ fattura.cliente.ragioneSociale }}</td>

        <td>
          <a class="btn btn-warning" [routerLink]="['/dettaglifattura/', fattura.id]" routerLinkActive="active">Modifica</a>
        </td>

        <td>
          <button class="btn btn-danger" (click)="elimina(fattura.id, i)">Elimina</button>
        </td>
      </tr>
    </tbody>
  </table>

</section>


  <!-- paginazione -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" *ngIf="!response.first">
        <a class="page-link" (click)="cambiaPag(response.first)">Primo</a>
      </li>
      <li class="page-item" *ngIf="!response.first">
        <a class="page-link" (click)="cambiaPag(response.number - 1)">Indietro</a>
      </li>
      <li class="page-item" *ngIf="!response.last">
        <a class="page-link" (click)="cambiaPag(response.number + 1)">Prossimo</a>
      </li>
      <li class="page-item" *ngIf="!response.last">
        <a class="page-link" (click)="cambiaPag(response.totalPages - 1)">Ultimo</a>
      </li>
    </ul>
  </nav>









